@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

.container {
  max-width: 1065px;
  width: 1065px;
  margin: 0 auto;
}